/* colors */
.bg-lavender {
    background-color: #E6E6FA;
}

.bg-bloody-mimosa {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.bg-red-light {
    background-color: rgb(233, 173, 173);
}

.bg-cucumber-water {
    background: linear-gradient(0deg, #8ccddf6f 0%, #d9e7ff7b 1%);
}

.bg-alice-blue {
    background-color: #F0F8FF;
}

.card {
    border-radius: 0px;
}

.bg-grey {
    background-color: rgb(219, 219, 219);
}

.avater-icon {
    width: 28px;
}

.link-unstyled {
    text-decoration: none;
    color: black;
}

.avater-image {
    width: 100px !important;
}

.carousel-img-height {
    max-height: 350px !important;
}

.navbar {
    background: rgb(27, 27, 27);
    background: linear-gradient(-203deg, rgba(96, 96, 149, 0.333) 0%, rgba(131, 149, 181, 0.054) 43%, rgba(176, 255, 181, 0.273) 100%);
}

.frosted-nav {
    background: rgba(203, 189, 228, 0.556);
    /* background: linear-gradient(203deg, rgba(247, 63, 225, 1) 0%, rgba(159, 72, 230, 1) 43%, rgba(90, 50, 152, 1) 100%); */
    /* background: rgba(255, 255, 255, 0.543); */
    /* Transparent white background */
    backdrop-filter: blur(10px);
}

footer {
    background: rgba(53, 39, 79, 0.733);
    background: linear-gradient(203deg, rgb(89, 40, 106) 0%, rgba(159, 72, 230, 1) 43%, rgba(90, 50, 152, 1) 100%);
    backdrop-filter: blur(10px);
}

.frosted {
    background: rgba(255, 255, 255, 0.739);
    /* Transparent white background */
    backdrop-filter: blur(10px);
}

.frosted-sidebar {
    background: rgba(255, 255, 255, 0.543);
    /* Transparent white background */
    backdrop-filter: blur(10px);
}

.frosted-glass {
    background: rgba(255, 255, 255, 0.5);
    /* Transparent white background */
    backdrop-filter: blur(10px);
    /* Apply blur effect */
    width: 430px;
    /* height: 300px;  */
}

input {
    background-color: rgb(225 240 255 / 35%) !important;
}

.btn.btn-primary {
    background: rgb(247, 63, 225);
    background: linear-gradient(203deg, rgba(247, 63, 225, 1) 0%, rgba(159, 72, 230, 1) 43%, rgba(90, 50, 152, 1) 100%);
}

textarea {
    border-radius: 15% !important;
}